<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
    <style>
        table { width: 100%; border-collapse: collapse; }
        th, td { border: 1px solid black; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
    </style>
</head>
<body>
    <h2 style="margin-left: 40%;">Scheduled Appointments</h2>
    <table>
        <tr>
            <th>Doctor</th>
            <th>Patient Name</th>
            <th>Appointment Date</th>
            <th>Appointment Time</th>
            <th>Date Scheduled</th>
        </tr>
        {% for record in records %}
        <tr>
            <td>{{ record.0 }}</td>
            <td>{{ record.1 }}</td>
            <td>{{ record.2 }}</td>
            <td>{{ record.3 }}</td>
            <td>{{ record.4 }}</td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>
